.headerSection{
  display: flex;
  flex-flow: row;
  border-bottom: 2px solid var(--gray6);
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  height: auto;
}

.iconBox,
.arrowBox,
.questionBox{
  display: flex;
  order: 0;
  height: auto;
  color: var(--white);
  padding: 1.5rem 0.8rem 1.5rem 0.8rem;
  border: 1px solid var(--gray6);
  align-items:center;
  font-size: 1.5em;
}

.iconBox{
  padding: 0rem 0.8rem 0rem 0.8rem;
  background-color: var(--gray5);
  width: 150px;
  justify-content:center;
}

.arrowBox{
  background-color: var(--gray3);
  justify-content:center;
  width: 5px;
  font-size: 1.2em;
}

.questionBox{
  flex: 1;
  background-color: var(--gray4);
  text-transform: uppercase;
}