.itemContainer {
  display: flex;
  color: var(--white);
  flex-flow: row wrap;
  align-items: stretch;
  min-width: 400px;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
  margin: 1rem;
}

.leftSide {
  background-color: var(--blue);
  align-self: stretch;
  min-width: 2px;
  max-width: 2px;
  display: flex;
  flex-flow: column wrap;
 }

.middle {
  flex-flow: column wrap;
  max-width: 380px;
  min-width: 380px;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.rightSide {
  background-color: var(--blue);
  align-self: stretch;
  min-width: 2px;
  max-width: 2px;
  display: flex;
  flex-flow: column wrap;
}

.spacer {
  align-self: stretch;
  width: 6px;
}

.lineMid{
  flex: 1 0 auto;
}

#circle {
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 4px;
  margin-left: -1px;
}

.title {
  flex: 1 0 auto;
  font-size: 1.1rem;
  max-height: 120px;
  background-color: var(--gray5);
  padding: 0.5rem;
  text-transform: uppercase;
}

.media {
  flex: 1 0 auto;
  background-color: rgba(30,30,30, 0.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 172px;
}

.thumbnail {
  cursor: pointer;
  cursor: hand;
  height:100%;
  width:100%;
  height:auto;
  position: relative;
}

.playButton {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./images/play.png) no-repeat;
  background-position: 50% 50%;
}

.voteContainer {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--gray4);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.voteLeft{
  padding: 0.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.voteRight {
  padding: 0.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.voteButton {
  height: 45px;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black);
  padding: 0.5rem;
  outline: 2px solid var(--blue);
  outline-offset: -2px;
  font-weight: 600;
  cursor: pointer;
  cursor: hand;
  transition-duration: 300ms;
  font-size: 16px;
  font-family: var(--primary-font);
}

.separator {
  flex: 1 0 auto;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  background-color: var(--gray5);
  height: 10px;
}

.stats {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--gray4);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--gray6);
}

.leftStats {
  padding: 0.1rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  display: flex;
  border-right: 2px solid var(--black);
}

.rightStats {
  padding: 0.5rem;
  display: flex;
  flex: 4 0 auto;
  flex-flow: column wrap;
  display: flex;
}

.voteCount{
  font-size: 22px;
  font-weight: 700;
  color: var(--blue);
  margin-top: -5px;
}

.voteLabel {
  margin-top: -5px;
  font-size: 12px;
}

.percentage {
  margin-top: -5px;
  font-weight: 700;
  color: var(--blue);
  font-size: 14px;
  text-align: right;
}

.percentChart{
  background-color: var(--gray4);
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row;
  display: flex;
  width: 100%;
  height: 10px;
}

.chartEdge{
  height:10px;
  width:5px;
  background-color: var(--gray2);
  flex: 1 0 auto;
}

.chartOverlay{
  position: absolute;
  background-color: var(--blue);
  height: 10px;
  margin-top:-5px;
}

.chartBG{
  flex: 100 0 auto;
  position: relative;
}