.itemContainer {
  display: flex;
  color: var(--white);
  flex-flow: row wrap;
  align-items: stretch;
  min-width: 400px;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
  margin: 1rem;
}

.leftSide {
  background-color: var(--blue);
  align-self: stretch;
  min-width: 2px;
  max-width: 2px;
  display: flex;
  flex-flow: column wrap;
 }

.middle {
  flex-flow: column wrap;
  max-width: 380px;
  min-width: 380px;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.rightSide {
  background-color: var(--blue);
  align-self: stretch;
  min-width: 2px;
  max-width: 2px;
  display: flex;
  flex-flow: column wrap;
}

.spacer {
  align-self: stretch;
  width: 6px;
}

.lineMid{
  flex: 1 0 auto;
}

#circle {
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 4px;
  margin-left: -1px;
}

.title {
  flex: 1 0 auto;
  font-size: 1.1rem;
  max-height: 120px;
  background-color: var(--gray5);
  padding: 0.5rem;
  text-transform: uppercase;
}

.media {
  flex: 1 0 auto;
  background-color: rgba(30,30,30, 0.5);
  padding: 0.5rem;
}

.voteContainer {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--gray4);
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
}

.voteLeft{
  padding: 0.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.voteRight {
  padding: 0.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.voteButton {
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black);
  padding: 0.5rem;
  outline: 2px solid var(--blue);
  outline-offset: -2px;
  font-weight: 600;
  cursor: pointer;
  cursor: hand;
  transition-duration: 300ms;
  font-size: 16px;
  font-family: var(--primary-font);
}

.voteButton:hover {
  background-color: var(--blue);
}

.separator {
  flex: 1 0 auto;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  background-color: var(--gray5);
  height: 10px;
}

.stats {
  flex: 1 0 auto;
  padding: 0.5rem;
  background-color: var(--gray6);
}
