/**
 * styles.css
 *
 * App container styles
 */

html, body {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  background-color: var(--gray6);
  padding: 0;
  margin: 0;
}

.container {
  overflow-y: hidden;
  overflow-x: hidden;
}
